{% extends 'base.html.twig' %}

{% block title %}
    The Ideas List
{% endblock %}

{% block body %}
    <h1>Ideas List:</h1>
    <ul>
        {% for idea in ideas %}
            <li><a href="{{ path('ideas_show', {'idea' : idea.id}, []) }}">{{ idea.title}}</a></li>
        {% endfor %}
    </ul>
{% endblock %}