{% extends 'IdeasBundle::base.html.twig' %}

{% block body %}
    <h1>This is webportal with great ideas</h1>
    <h3>It is created to analyze new ideas and collect statistic about them</h3>
{% endblock %}